
.col {
    width: 100px;
    height: 100px;
    background-color: #50C8FF;
    margin-left: 400px;
    }
  
    
.col1 {
    width: 100px;
    height: 100px;
    background-color:red;
    margin-left: 400px;
    }