.col {
  width: 80px;
  height: 80px;
  background-color: #6d6666;
  border-radius: 50px;
}

.board {
  padding-top: 50px;
  background-color: #2b2525;
}

.p1Text {
  font-size: 30px;
  font-weight: bold;
  margin-left: -55px;
}

.p2Text {
  padding-right: 430px;
  font-size: 30px;
  margin-left: 290px;
  font-weight: bold;
  margin-top: -20px;
  color: #613939;
}

.textBelow {
  display: flex;
  align-items: center;
  margin-left: 720px;
  height: 100px;
  color: #613939;
}

.Greeny {
  font-size: 60px;
  margin-left: 20px;
  background-color: green;
  border-radius: 50px;
  border-color: #6d6666;
}

.Pinky {
  font-size: 60px;
  margin-left: 20px;
  background-color: pink;
  border-radius: 50px;
}

.mainHeadLine {
  color: #793838;
  margin-bottom: 20px;
  font-size: 80px;
}

.gameName {
  font-size: 50px;
  text-shadow: -7px 4px black;
  color: #bb6a42;
}

.textWinner {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 60px;
  color: white;
}

.startOverButton {
  color: aquamarine;
  font-size: 100px;
  background-color: #292727;
  border-radius: 15px 50px;
  margin-top: 30px;
}

.startAgainButton {
  color: #793838;
  font-size: 70px;
  background-color: darkgrey;
  margin-top: 30px;
}

.finishScreen {
  height: 960px;
  margin-top: -60px;
  background-color: #10131f;
}

.greenyFinishScreen {
  color: green;
  margin-left: 20px;
  font-size: 30px;
}
.pinkyFinishScreen {
  color: pink;
  margin-left: 20px;
  font-size: 30px;
}

.greenyFinishScreen1 {
  color: green;
  font-size: 150px;
  margin-left: 340px;
  margin-top: 800px;
}

.pinkyFinishScreen1 {
  color: pink;
  font-size: 150px;
  margin-left: 340px;
  margin-top: 800px;
}

.congratulations {
  margin-right: 10px;
  margin-top: 500px;
  font-size: 50px;
  color: white;
}
